#top{
    height:100px;
    width:120px;
    text-align: center;
    margin:0 auto;
    display:block;
}
#geochart-colors{
width: 600px;
height: 400px;
position: relative;
border-style: solid;
border-width: 20px;
}

body{
    background-image: url('earth.png');
}
h1 {
  color: white;

}

.btn{
    height:50px;
    width:120px;
    background-color:#4CAF50;
    text-align: center;
    margin:0 auto;
    display:block;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
}
.btn :hover {background-color: #3e8e41}

.btn active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

